absl-py
astunparse
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
deepface
filelock
fire
Flask
flask-cors
flatbuffers
fonttools
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
mtcnn
namex
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
pycparser
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
python-dateutil
pytz
requests
retina-face
rich
scipy
sentencepiece
six
sounddevice
soupsieve
tensorboard
tensorboard-data-server
tensorflow==2.18.0
tensorflow-io-gcs-filesystem
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
